name: Ultra Obfuscate

on:
  push:
    branches: [ main ]

jobs:
  obfuscate:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - run: npm install -g javascript-obfuscator

    - run: |
        javascript-obfuscator src \
        --output dist \
        --compact true \
        --control-flow-flattening true \
        --control-flow-flattening-threshold 1 \
        --dead-code-injection true \
        --dead-code-injection-threshold 1 \
        --debug-protection true \
        --debug-protection-interval true \
        --disable-console-output true \
        --identifier-names-generator hexadecimal \
        --rename-globals true \
        --self-defending true \
        --string-array true \
        --string-array-encoding base64 \
        --string-array-threshold 1 \
        --transform-object-keys true \
        --unicode-escape-sequence true
