name: Obfuscate worker.js

on:
  push:
    branches: [ master ]   # ← اینو تغییر دادیم

jobs:
  obfuscate:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - run: npm install -g javascript-obfuscator

    - run: |
        mkdir -p dist
        javascript-obfuscator worker.js \
        --output dist/worker.js \
        --compact true \
        --control-flow-flattening true \
        --control-flow-flattening-threshold 1 \
        --dead-code-injection true \
        --dead-code-injection-threshold 1 \
        --identifier-names-generator hexadecimal \
        --rename-globals true \
        --self-defending true \
        --string-array true \
        --string-array-encoding base64 \
        --string-array-threshold 1
